.image {

    width: 150px;
    height: auto;
    padding: 10px;

}

body {

    background-color: pink;

}
table {

    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td,th {
   
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px;
    height: 50px;  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

th {

    background-color:lightgrey;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}